@media (min-width:576px){
    .margin {
            margin-left: 35px;
            margin-right: 35px;
        }
    
        header .flexbox .nav {
            display: none;
            flex: 2;
        }
    
        header .flexbox .navbtn button {
            display: block;
            height: 30px;
            width: 30px;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 5px;
            margin-top: -4px;
        }
    
        header .flexbox .end-nav .search {
            display: none;
        }
    
        header .flexbox .end-nav .login {
            display: none;
        }
        header .flexbox .logo .fa-gem {
             font-size: 20px;
         }
         /* =====================homepage======================= */
        .homepage .content h1 {
            font-size: 30px;
        }
        .homepage .content p {
            font-size: 15px;
        }
        /* ==================Grid========================= */
        section .gridbox {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        /* ==================Facilities===============.*/
        .f-main {
            display: flex;
            flex-direction: column;
        }
    
    /* =====================News====================== */
         .news .news-details {
             display: flex;
             flex-direction: column;
         }
      /* ==================middle-sec=============== */
         .middle-sec .content h1 {
             font-size: 35px;
         }
    /* ================Professional============== */
        .proffessional .flexbox {
            display: flex;
            flex-direction: column;
        }
       /* ===============Testimonials============== */
        .testimonials .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
  /* =================Footer==================== */
        footer .footer-grid {
            display: grid;
            grid-template-columns: 1fr ;
            gap: 30px;
        }
    }
