 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* =======common css========= */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.margin {
    margin-left: 80px;
    margin-right: 80px;
}

.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ========header======= */
header {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1515;
}

header .flexbox {
    display: flex;
    align-items: center;
}

header .flexbox .logo {
    flex: 1;
    padding: 10px;
    display: flex;
    gap: 10px;
    color: black;
}

header .flexbox .logo p {
    font-size: 20px;
}

header .flexbox .logo .fa-gem {
    font-size: 40px;
}

header .flexbox .logo {
    flex: 1;
    padding: 10px;
    display: flex;
    gap: 10px;
    color: black;
}

header .flexbox .logo {
    flex: 1;
    padding: 10px;
    display: flex;
    gap: 10px;
    color: black;
}

header .flexbox .nav ul a{
    color: whitesmoke;
    font-weight: bold;
}
header .flexbox .nav ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header .flexbox .end-nav {
    display: flex;
    gap: 15px;
    padding: 25px;
    color: whitesmoke;
}

header .flexbox .navbtn button {
    display: none;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: -4px;
}

/* ==================home page==================== */
.homepage {
    background-image: url(../images/banner3.jpg);
    /* height: 653px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    /* padding-top: 300px; */
    position: relative;
    z-index: 1;
}

.homepage::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, #8509d8a7, #0838bda7);
    z-index: -1;
}

.homepage .content {
    text-align: center;
    width: 70%;
    margin: auto;
}

.homepage .content h1 {
    font-size: 65px;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
    padding-top: 170px;
}

.homepage .content p {
    color: white;
    font-size: 30px;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 50px;
}

.homepage .content button {
    height: 60px;
    width: 250px;
    border-radius: 30px;
    color: white;
    background-color: palevioletred;
    font-size: 18px;
    transition: 1s all ease;
    margin-bottom: 170px;
    border: 1px solid palevioletred;
}

.homepage .content button:hover {
    background-color: rgb(239, 7, 103);
}

.waveWrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 150px;
    vertical-align: middle;
    overflow: hidden;
    margin-top: -100px;
    z-index: 1;
}

.homepage .waveWrapper svg {
    height: 100%;
    width: 100%;
}

/* ===================Grid==================== */
section .gridbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
    gap: 20px;
}

section .gridbox .firstbox {
    padding: 20px;
}

section .learn-details {
    text-align: center;
    font-size: large;
}

section .learn-details h4 {
    color: gray;
    padding-bottom: 10px;
    padding-top: 100px;
}

section .firstbox .dollar-solid {
    display: flex;
    gap: 100px;
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 20px;
    color: blue;
}

section .firstbox .dollar {
    color: hotpink;
    font-size: larger;
    font-weight: bold;
}

section .gridbox .pic-1 img {
    max-width: 100%;
    height: auto;
    transition: 1s all ease-in-out;
}

section .gridbox .main {
    width: fit-content;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.623);
}

section .gridbox .pic-1 {
    overflow: hidden;
    position: relative;
}

section .gridbox .pic-1 .beginner {
    position: absolute;
    top: 10px;
    left: 10px;
    color: whitesmoke;
    background-color: rgb(68, 129, 243);
    padding: 4px 15px;
    border-radius: 40px;
}

section .gridbox .pic-1 .free {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px 10px;
    color: white;
    display: grid;
    place-content: center;
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
    color: whitesmoke;
}

section .gridbox .pic-1 .free-2 {
    background-color: #7513ed;
}

section .gridbox .pic-1 .free-1 {
    background-color: #fb0685;
}

section .gridbox .pic-1 img:hover {
    transform: scale(1.1);
}

section .firstbox h2 {
    font-size: 20px;
    word-spacing: 3px;
    padding-bottom: 20px;
    transition: 0.s ease-in-out;
}

section .firstbox h2:hover {
    color: blue;
}

section .firstbox .timing {
    display: flex;
    gap: 80px;
    padding-bottom: 20px;
    color: grey;
    opacity: 0.8;
}

section .firstbox .divider {
    height: 1px;
    width: 100%;
    background-color: grey;
    margin-bottom: 25px;
}

section .firstbox .user-profile {
    display: flex;
    align-items: center;
}

section .firstbox .user-profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

section .firstbox .user-profile .txt span {
    color: rgba(128, 128, 128, 0.811);
}

section .foot-text {
    width: 50%;
    padding: 40px;
    margin: auto;
    text-align: center;
}

section .foot-text h3 {
    color: grey;
    font-size: 25px;
}

section .foot-text a {
    color: hotpink;
    transition: 0.5s ease-in-out;
}

section .foot-text a:hover {
    color: rgb(202, 22, 112);
}

/* ==================Facilities===============.*/

.facilities {
    background-color: rgba(206, 195, 195, 0.273);
}

/* .facilities .margin {
    margin: 80px;
} */

.f-padding {
    padding: 50px 0px;
}

.f-main {
    display: flex;
    gap: 30px;
}

.f-main .flexbox-1 {
    flex: 1;

}

.f-main .flexbox-1 h5 {
    color: gray;
    padding-bottom: 15px;
    font-size: 18px;
}

.f-main .flexbox-1 h1 {
    color: #161616;
    font-size: 40px;
    padding-bottom: 20px;
}

.f-main .flexbox-1 p {
    color: grey;
    font-size: 21px;
    line-height: 30px;
}

.f-main .flexbox-1 .txt-para {
    padding-bottom: 20px;

}

.f-main .flexbox-1 .mt-2 {
    padding-bottom: 20px;
}

.f-main .flexbox-1 button {
    height: 54px;
    width: 164px;
    border-radius: 30px;
    background-color: #FE79A2;
    font-size: 17px;
    color: white;
    border: none;
    transition: 0.3s ease-in;
}

.f-main .flexbox-1 button:hover {
    color: black;
    background-color: aquamarine;
}

.f-main .flexbox-2 {
    flex: 1;
}

.f-main .flexbox-2 .box1 {
    display: grid;
    /* grid-template-rows: repeat(2,2fr); */
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
}

.f-main .flexbox-2 .box1 .box2 {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.f-main .flexbox-2 .box1 .box2:hover {
    box-shadow: 0px 0px 11px 4px grey;
}

.f-main .flexbox-2 .box1 .box2 span {
    color: #FE79A2;
    font-size: 25px;
    padding-bottom: 20px;
}

.f-main .flexbox-2 .box1 .box2 h2 {
    color: #161616;
    padding-bottom: 15px;
    font-size: 28px;
}

.f-main .flexbox-2 .box1 .box2 p {
    color: gray;
    line-height: 30px;
    font-size: 20px;

}

.f-main .flexbox-2 .box1 .box2 a {
    color: black;
}

.f-main .flexbox-2 .box1 .box2 a:hover {
    color: #FE79A2;
}

/* =========================News====================== */
.news .f-margin {
    margin: 0px 80px;
}

.news .news-titles {
    text-align: center;
    padding-bottom: 50px;
}

.news .news-titles h5 {
    padding-bottom: 10px;
    font-size: 17px;
    color: grey;
    letter-spacing: 2px;
    font-weight: bold;
}

.news .news-titles h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

.news .news-details .right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news .news-details .left-box {
    flex: 1;
}

.news .news-details {
    display: flex;
    gap: 20px;
}

.news .news-details .left-box .banner-1 {
    background: url(../images/banner1.jpg) no-repeat center;
    height: 630px;
    background-position: left;
    background-size: cover;
    position: relative;
    z-index: 1;
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
    display: grid;
    align-content: flex-end;
    padding: 30px;
    color: whitesmoke;
}

.news .news-details .left-box .banner-1 h2 a {
    color: white;
    font-size: x-large;
    letter-spacing: 1px;
    line-height: 30px;
    /* padding-left: 30px; */
}

.news .news-details .left-box .banner-1 h2 {
    padding-bottom: 20px;
}

.news .news-details .left-box .banner-1 .user a {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.news .news-details .left-box .banner-1 .user {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding: 20px 0px; */

}

.news .news-details .left-box .banner-1 .user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.news .news-details .left-box .banner-1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 10px;
}

.news .news-details .left-box .banner-1:hover {
    transform: translateY(-10px);
}

.news .news-details .right-box .banner-2 {
    background: url(../images/banner2.jpg) no-repeat center;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    transition: 0.5s all ease-in-out;
    display: grid;
    align-content: flex-end;
    padding: 30px;
    color: whitesmoke;
}

.news .news-details .right-box .banner-2 h2 a {
    color: white;
    font-size: x-large;
    letter-spacing: 1px;
    line-height: 20px;
    /* padding-left: 30px; */
}

.news .news-details .right-box .banner-2 h2 {
    padding-bottom: 15px;
}

.news .news-details .right-box .banner-2 .user a {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.news .news-details .right-box .banner-2 .user {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding: 20px 0px; */

}

.news .news-details .right-box .banner-2 .user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.news .news-details .right-box .banner-2:hover,
.banner-3:hover {
    transform: translateY(-10px);
}

.news .news-details .right-box .banner-2::after,
.banner-3::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 10px;

}

.news .news-details .right-box .banner-3 {
    background: url(../images/banner3.jpg) no-repeat center;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    display: grid;
    align-content: flex-end;
    padding: 30px;
    color: whitesmoke;
}

.news .news-details .right-box .banner-3 h2 a {
    color: white;
    font-size: x-large;
    letter-spacing: 1px;
    line-height: 20px;
    /* padding-left: 30px; */
}

.news .news-details .right-box .banner-3 h2 {
    padding-bottom: 15px;
}

.news .news-details .right-box .banner-3 .user a {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.news .news-details .right-box .banner-3 .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news .news-details .right-box .banner-3 .user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.news .bottom-txt {
    padding: 50px 0px;
}

.news .bottom-txt .abc {
    text-align: center;
    color: #FE79A2;
    font-size: large;
}

.news .bottom-txt .abc h3:hover {
    color: #fb0685;
}

.news .bottom-txt span {
    padding: 10px;
}

/* ==================middle-sec=============== */
.middle-sec .content {
    text-align: center;
}

.middle-sec .p-padding {
    padding: 103px;
}

.middle-sec .content h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 70px;
    color: whitesmoke;
}

.middle-sec .content h3 {
    padding-top: 150px;
    color: rgb(240, 231, 231);
}

.middle-sec {
    background: url(../images/banner1.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.middle-sec::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, #8509d8a7, #0838bda7);
    z-index: -1;
}

.middle-sec .btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    padding-bottom: 150px;
}

.middle-sec .btn .btn1 {
    height: 60px;
    width: 250px;
    border-radius: 100px;
    color: white;
    border: 1px solid white;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    transition: 1s ease-in-out;
}

.middle-sec .btn .btn1:hover {
    color: black;
    background-color: whitesmoke;
}

.middle-sec .btn .btn2 {
    height: 60px;
    width: 250px;
    border-radius: 100px;
    font-size: large;
    color: white;
    background-color: #FE79A2;
    transition: 1s ease-in-out;
    border: 1px solid #FE79A2;
}

.middle-sec .btn .btn2:hover {
    background-color: #f14d7e;
}

/* ================Proffessional============= */
.proffessional .p-margin {
    margin: 80px;
}

.proffessional .box-1 h5 {
    color: gray;
    font-size: 16px;
}

.proffessional .box-1 h1 {
    font-size: 50px;
    color: rgb(4, 4, 101);
    padding-top: 15px;
    padding-bottom: 35px;
}

.proffessional .box-1 .para-1 {
    color: grey;
    font-size: 21px;
    line-height: 30px;
    padding-bottom: 25px;
}

.proffessional .box-1 .para-2 {
    color: grey;
    font-size: 21px;
    line-height: 30px;
    padding-bottom: 40px;
}

.proffessional .box-1 button {
    height: 54px;
    width: 164px;
    border-radius: 30px;
    background-color: #FE79A2;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: none;
    transition: 0.3s ease-in;
}

.proffessional .box-1 button:hover {
    color: whitesmoke;
    background-color: #fb0685;
}

.proffessional .flexbox {
    display: flex;
    gap: 20px;
}

.proffessional .box-1 {
    flex: 1;
}

.proffessional .box-2 {
    flex: 1.4;
}

.proffessional .box-2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.proffessional .box-2 img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.proffessional .flexbox .box-2 .img-1 {
    position: relative;
}

.proffessional .flexbox .box-2 .img-1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    border-radius: 10px;
}

.proffessional .flexbox .box-2 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-content: center;
    color: white;
    text-align: center;
    z-index: 1;
}

.proffessional .flexbox .box-2 .overlay .bottom-txt .divider {
    height: 2px;
    width: 100px;
    background-color: white;
    margin: 10px auto;
}

.proffessional .flexbox .box-2 .overlay .bottom-txt .social {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.proffessional .flexbox .box-2 .overlay .bottom-txt .icon-facebook {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(21, 5, 201);
    display: grid;
    place-content: center;
}

.proffessional .flexbox .box-2 .overlay .bottom-txt .icon-twitter {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: #3aa1ef;
    display: grid;
    place-content: center;
}

/* ================image-overlay effect============== */
.proffessional .flexbox .box-2 .overlay .upper-txt {
    transform: translateY(40px);
    transition: 0.4s all ease-in-out;
}

.proffessional .flexbox .box-2 .img-1:hover .upper-txt {
    transform: translateY(0px);
}

.proffessional .flexbox .box-2 .overlay .bottom-txt {
    transform: rotateX(90deg);
    transition: 0.5s all ease-in-out;
}

.proffessional .flexbox .box-2 .img-1:hover .bottom-txt {
    transform: rotateX(0deg);
}

.proffessional .flexbox .box-2 .img-1:hover::after {
    background-color: rgba(0, 0, 0, 0.563);
}

/* ===============Testimonials============== */
.testimonials {
    background-color: ghostwhite;
}

.testimonials .padding {
    padding: 80px;
}

.testimonials .titles h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
    color: rgb(10, 10, 101);

}

.testimonials .titles h5 {
    font-size: 20px;
    text-align: center;
    color: rgba(128, 128, 128, 0.925);
}

.testimonials .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.testimonials .grid .box-1 {
    background-color: white;
    padding: 40px;
    box-shadow: 5px 0px 7px 0px grey;
    border-radius: 10px;
}

.testimonials .grid .para-1 {
    padding-bottom: 20px;
    color: gray;
    font-size: larger;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
}

.testimonials .grid .para-1 span {
    font-size: large;
    color: #fb0685;
}

.testimonials .grid .client-img {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.testimonials .grid .client-img .c-img img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.testimonials .grid .client-img .c-bio h2 {
    color: rgb(10, 10, 101);
}

.testimonials .grid .client-img .c-bio h5 {
    color: grey;
    font-size: 15px;
}

/* ======================brands=================== */
.brands .brands-p {
    padding: 50px 0px;
}

.brands .brands-p .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-items: center;
}

.brands .brands-p .grid img {
    height: auto;
    max-width: 100%;
    filter: contrast(0%);
}

.brands .brands-p .grid img:hover {
    filter: contrast(100%);
}


/* =================Footer==================== */
footer {
    background-color: #311f45;
}

footer .f-margin {
    margin-left: 80px;
    margin-right: 80px;
}

footer .f-padding {
    padding: 50px 0px;
}

footer .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
}

footer .footer-grid .grid-head {
    padding: 15px;
}

footer .footer-grid .grid-head h3 {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 20px;
}

footer .footer-grid .grid-head ul li {
    color: grey;
    padding-bottom: 15px;
    font-size: 18px;
    text-transform: capitalize;

}

footer .footer-grid .grid-head ul li:hover {
    color: white;
}

footer .footer-grid .grid-head a {
    color: grey;
    text-transform: capitalize;
}

footer .footer-grid .grid-head a:hover {
    color: white;
}

footer .footer-grid .grid-head span {
    color: grey;
    transition: 0.5s all ease;
}

footer .footer-grid .grid-head span:hover {
    color: white;
}

footer .divider {
    height: 1px;
    width: 100%;
    background-color: white;
}

footer .footer-copy {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

footer .footer-copy p {
    color: white;
}



