* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.calculator h3 {
    color: black;
    /* text-align: center; */
    font-size: 30px;
}

.calculator form .p1 {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 30px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: blue;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 50px;
    box-shadow: none;
}

form input.sign-color {
    background-color: blue;
}

form input.sign-colorrrr {
    background-color: blue;
    width: 145px;
}